<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" autowire="byName">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="postgres://saccqcpmlueolt:Puxizm7167_WHexLLWd7Dvzl35@ec2-54-83-9-127.compute-1.amazonaws.com:5432/d20cslahh1tcok"/>
        <property name="username" value="saccqcpmlueolt"/>
        <property name="password" value="Puxizm7167_WHexLLWd7Dvzl35"/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" autowire="byName">
        <property name="dataSource" ref="datasource"/>
        <property name="annotatedClasses">
            <list>
                <value>main.model.User</value>
                <value>main.model.Post</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>


</beans>