<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <div ng-model="results">
            <input class="navbar-brand" ng-model="value" type="text" ng-change="search()" placeholder="Search">
                <div ng-repeat="friend in results | filter: value">
                    <a href="#/user/{{friend.id}}" ng-if="user.id!=friend.id && user.id!=null">{{friend.mail}}</a>
                    <a ng-click="add(user.id,friend.id)" ng-if="user.id!=friend.id && user.id!=null" class="btn btn-primary">add</a>
                </div>
            </div>
        </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">{{user.name}}</a></li>
            </ul>
    </div>
</nav>

<div class="container">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
<div class="col-md-4">
    <input ng-model="query" placeholder="Search In Friends">
 <div ng-repeat="friend in user.friends | filter: query">

     <a href="#/user/{{friend.id}}">{{friend.name}} </a>
     <a ng-click="delete(user.id,friend.id,$index)" class="btn btn-danger">remove</a>

 </div>

</div>
</div>
</div>
